*{
    padding: 0;
    margin: 0;
    color: rgb(248, 145, 104);
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: fixed linear-gradient(35deg, #ccffff, #ffcccc, rgb(204, 204, 255));
}

.container{
    margin-top: 200px;
}